<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WA Secondary School Rankings 2020</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/graph">Graph</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/data">Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1 id="projectstart">WA Secondary School Rankings 2020</h1>
      <p class="lead"></p>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1></h1>
      <img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555442225/shape/mentalfloss/two_schoolkids_learning.jpg" class="col-md-12 float-md-start mb-3 ms-md-3" alt="..." width="1500">
      <p>
        
      </p>
      <p>
      This project provides interactive analysis on the performance of WA Secondary Schools based on its average 2020 ATAR. Click through the links to find out characteristics of high performing schools!
      </p>
    </div>

    <div class="col-lg-5">
      <div class="box">
        <!-- <h2>Navigation</h2> -->
        <div class="container">
              <div class="row" >
       </div>
    </div>
</div>    

<aside id="Navigation">
  <h2>Navigation Links</h2>
  <ul>
    <li><a href="/map"><strong>Map - Click here to find out school locations</strong> </li>
      <li><a href="/graph"><strong>Graph - Click here to find out Rankings</strong> </li>
        <li><a href="/data"><strong>Click - Click here to find out additional data</strong> </li>
  </ul>
</aside>

</body>
</div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"> </p>
  </div>
  
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/js/jquery/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>

<!-- D3 CDN -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/js/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="../static/js/scrolling-nav.js"></script>
